.book {
  background-color: $primary-bg-color;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    padding: 50px 20px 66px 20px;
  }

  h2,
  p {
    text-align: center;
  }
}
