@use "sass:math";
@use "sass:list";

x.loader {
  position: absolute;
  z-index: -99;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  background: rgba(255, 255, 255, 0.9);

  animation: loader-finish $loader-duration ease-in-out $loader-delay both;

  .dot {
    position: absolute;

    width: $loader-radius * 2;
    height: $loader-radius * 2;
    top: calc(50vh - #{$loader-radius});
    left: 50vw;

    border-radius: $loader-radius;
    border: 1px solid $secondary-bg-color;
    backface-visibility: hidden;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    animation: dot-move $loader-interval cubic-bezier(0.4, 0, 1, 0.8) infinite;

    transform-origin: ($loader-radius * -1) center;

    @for $i from 1 through $loader-amount {
      &-#{$i} {
        background: nth($loader-colors, 1+ ($i % length($loader-colors)));
        animation-delay: math.div($i, $loader-amount) * $loader-interval * -1;
        opacity: 0;
      }
    }
  }
}
