// Animation de l'apparition des menus
@keyframes appear-animation {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/***
* Animation du loader
***/

// Afichage/Disparition du loader
@keyframes loader-finish {
  0% {
    z-index: 99;
  }
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    z-index: 99;
    opacity: 1;
  }
  100% {
    z-index: -99;
  }
}

// Animation des cercles dans le loader
@keyframes dot-move {
  0% {
    transform: scale(1) rotate(0deg);
  }
  30% {
    opacity: 1;
  }
  100% {
    z-index: 1;
    transform: scale(0) rotate(360deg);
  }
}
