@use "sass:math";

.title,
.brand {
  font-family: $font-family-title;
}

.brand {
  text-align: center;
}

.container {
  position: relative;

  margin: auto;
  max-width: 1440px;
}

// Permet de rendre le lien cliquable sur toute la "carte"
.stretched-link {
  position: absolute;

  display: block;

  width: 100%;
  height: 100%;
}

.icon-text {
  color: $icon-text-color;
  font-size: $icon-text-size;
}
