$breakpoints: (
  tablet: (
    min-width: 768px,
  ),
  desktop: (
    min-width: 1024px,
  ),
);

$font-family-title: "Shrikhand", cursive;
$font-family-default: "Roboto", sans-serif;

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$primary-bg-color: #f6f6f6;
$secondary-bg-color: #eaeaea;

$icon-size: 2.2rem;

$icon-text-color: #7e7e7e;
$icon-text-size: 1em;

$button-ligthness: 3%; // Eclaircisement du bouton lors du survol
$button-transition-duration: 0.3s;

/***
    Paramètres du loader
***/
$loader-delay: 150ms; // Délai de lancement de l'animation
$loader-duration: 3s; // Durée d'affichage du loader
$loader-interval: 2s; // Intervalle entre chaque cycle d'animation des points
$loader-amount: 6; // Nombre de points
$loader-radius: 4vmin; // Rayon
$loader-colors: $primary-color, $secondary-color, $tertiary-color;

/***
    Paramètres de l'apparition des menus
***/
$appear-duration: 0.3s; // Durée de l'animation
$appear-delay: 0.3s; // Décalage entre chaque animation

/***
    Paramètres de l'animation de confirmation du choix de menu
***/
$check-duration: 0.3s; // Durée de l'animation

/***
    Paramètres de l'animation des favoris
***/
$favorite-duration: 0.3s; // Durée de l'animation
